.body {
  position: relative;
  width: 100%;
  height: 100vh;
  .title {
    position: relative;
    left: calc(50% - 100px);
    top: 0%;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .controlLeft{
    // position: relative;
    // display: inline-block;
    float: left;
    width: 300px;
    height: calc(100% - 50px);
    margin: 10px 0 0 10px;
    background-color: #f7f8f9;
  }
  .container {
    position: relative;
    display: inline-block;
    width: calc(100% - 330px);
    height: calc(100% - 50px);
    margin: 10px 0 0 10px;
  }
}
